// COLORS
// #071033
// #575991
// #EAEDFF
// #FAFAFA
// #FF524A
// #FFDD6F


// GENERAL
body {
  background-color: #FAFAFA;
  color: #071033;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Francois One', sans-serif;
}

// NAVBAR
.navbar--fundacion {
  background-color: #FAFAFA;
  box-shadow: 0 0 10px #737385;

  .navbar__brand {
    height: 100%;
    margin-left: 5vw;
  }

  .navbar__brandname {
    float: left;
    margin-top: 12px;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #071033;

    &:hover {
      text-decoration: none;
    }
  }

  .navbar-toggle {
    border-color: #071033;

    .icon-bar {
      background-color: #071033;
    }
  }

  .navbar__navigation {
    margin-right: 5vw;
  }

  .navbar__link {
    font-family: 'Raleway', sans-serif;
    color: #071033;

    &:hover, &--active {
      color: inherit;
      background-color: #EAEDFF;
    }

    &--dropdown {
      padding: 2px 40px;
    }
  }

  .navbar__dropdown {
    border: none;
    background-color: #FAFAFA;
  }
}

@media only screen and (max-width: 767px) {
  .navbar__brandname--hidden {
    display: none;
  }
}

// FOOTER
.footer {
  background-color: #071033;
  color: #575991;

  p, label {
    line-height: 2;
    font-weight: 700;
    font-size: 0.9em;
  }

  h1 {
    margin-bottom: 30px;

    color: #FF524A;
    font-size: 2.2em;
  }

  &__inner {
    box-sizing: border-box;
    padding: 0 15vw;

    &--left {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    &--right {
      margin-bottom: 70px;
    }
  }

  &__icon {
    font-size: 1.5em;
    margin-right: 10px;
    color: #CDE6FF;
  }

  &__link {
    color: #575991;

    &:hover {
      text-decoration: none;
      color: #EAEDFF;
    }
  }

  &__map {
    margin-top: 20px;
    border: none;
    width: 100%;
    height: 30%;
  }

  &__formbox {
    background-color: #575991;
    border: none;
  }

  &__button {
    border: 1px solid #575991;
    background-color: #071033;
    color: #FF524A;

    &:hover {
      border-color: #FF524A;
      background-color: #FF524A;
      color: #071033;
    }
  }
}

// BREAKPOINTS
@media only screen and (min-width: 768px) {
  .footer {
    &__inner {
      box-sizing: border-box;
      padding: 0 25vw;
    }
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    &__inner {
      box-sizing: border-box;

      &--left {
        margin-top: 50px;
        padding: 0 4vw 0 15vw;
      }

      &--right {
        margin-top: 50px;
        padding: 0 15vw 0 0;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    &__inner {
      box-sizing: border-box;

      &--left {padding: 0 4vw 0 20vw;}
      &--right {padding: 0 20vw 0 0;}
    }
  }
}
