// COLORS
$orange: #ff4040;
$pale-orange: #ff8080;
$blue: #001040;
$pale-blue: #384467;

// GENERAL
body {
  color: $blue;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Francois One', sans-serif;
}

.row {
  margin: 0;
}

// NAVBAR
.navbar--fundacion {
  border-bottom: none;
  background-color: #FAFAFA;
  box-shadow: 0 0 10px #737385;

  .navbar__brand {
    height: 100%;
  }

  .navbar__brandname {
    float: left;
    margin-top: 12px;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: $blue;

    &:hover {
      text-decoration: none;
    }
  }

  .navbar-toggle {
    border-color: $blue;

    .icon-bar {
      background-color: $blue;
    }
  }

  .navbar__link {
    font-family: 'Raleway', sans-serif;
    color: $blue;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;

    &:hover, &:active, &:focus, &--active {
      color: #FFF;
      background-color: $pale-orange;
    }

    &--dropdown {
      padding: 0.5em 41px;

      &:hover {
        color: $blue;
      }
    }

    &--donate {
      color: #FFF;
      background-color: $orange;

    }
  }

  .navbar__dropdown {
    border: none;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .navbar__brandname--hidden {
    display: none;
  }
}

// FOOTER
.footer {
  background-color: $blue;
  color: $pale-blue;

  p, label {
    line-height: 2;
    font-weight: 700;
    font-size: 0.9em;
  }

  h1 {
    margin-bottom: 30px;

    color: $orange;
    font-size: 2.2em;
  }

  &__inner {
    box-sizing: border-box;
    padding: 0 15vw;

    &--left {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    &--right {
      margin-bottom: 70px;
    }
  }

  &__icon {
    font-size: 1.5em;
    margin-right: 10px;
    color: #CDE6FF;
  }

  &__link {
    color: $pale-blue;

    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }

  &__map {
    margin-top: 20px;
    border: none;
    width: 100%;
    height: 30vh;
  }

  &__formbox {
    border: none;
    background-color: $pale-blue;
    color: #FFF;

    &::placeholder {
      color: #bbb;
    }
  }

  &__button {
    border: 1px solid $orange;
    background-color: $blue;
    color: $orange;

    &:hover {
      background-color: $orange;
      color: $blue;
    }
  }
}

// BREAKPOINTS
@media only screen and (min-width: 768px) {
  .footer {
    &__inner {
      box-sizing: border-box;
      padding: 0 25vw;
    }
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    &__inner {
      box-sizing: border-box;

      &--left {
        margin-top: 50px;
        padding: 0 4vw 0 15vw;
      }

      &--right {
        margin-top: 50px;
        padding: 0 15vw 0 0;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    &__inner {
      box-sizing: border-box;

      &--left {padding: 0 4vw 0 20vw;}
      &--right {padding: 0 20vw 0 0;}
    }
  }
}
