$orange: #ff4040;
$pale-orange: #ff8080;
$blue: #001040;
$alt-blue: #002080;
$pale-blue: #384467;
$yellow: #ffdf80;

// HEADER
.header {
  margin-top: 50px;
  background-color: $blue;
  color: white;

  h1 {
    margin-bottom: 20px;

    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: $yellow;
  }

  &__inner {
    height: auto;
    padding: 30px 20vw;

    &--background {
      height: 35vh;
      background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/reunion.jpg);
      background-size: cover;
      background-position: center center;
    }
  }
}

// LOGO
.body__logo {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  background-color: white;
}

// ORGANIZATION
.organization {
  padding: 0 10vw 70px 10vw;

  h1 {
    margin: 0;

    text-align: center;
    font-size: 2.5em;
    color: $alt-blue;
  }

  h2 {
    font-size: 1.7em;
    color: $alt-blue;
  }

  ul {
    list-style: none;
  }

  &__inner {
    border: 1px solid $yellow;
    border-bottom-width:: 10px;
    margin-top: 20px;
    padding: 20px;

    background-color: white;
  }

  &__table {
    margin-top: 20px;

    font-size: 0.75em;
  }

  &__link {
    color: inherit;

    &:hover {
      color: $alt-blue;
    }
  }
}

// BREAKPOINTS
@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  .header {
    h1 {
      font-size: 3.5em;
    }
    &__inner {
      height: 450px;
      padding: 50px 10vw 0px 50px;
    }
  }

  .organization {
    padding: 0 15vw 70px 15vw;

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }

    &__inner {
      padding: 30px;
    }

    &__table {
      font-size: 0.85em;
    }
  }
}

@media only screen and (min-width: 992px) {
  .header {
    &__inner {
      padding: 50px 15vw 0px 50px;
      height: 460px;
    }
  }

  .organization {
    padding: 0 20vw 70px 20vw;

    &__inner {
      padding: 40px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    &__inner {
      padding: 90px 15vw 0px 70px;
    }
  }

  .organization {
    padding: 0 26vw 70px 26vw;

    &__inner {
      padding: 50px;
    }
  }
}
