// BLOG
.blog {
  padding: 70px 0vw 0px 0vw;
  background-color: #FAFAFA;
  color: #FAFAFA;

  h1 {
    margin: 30px 0;
    font-size: 2em;
    color: #FAFAFA;
    text-shadow: 1px 1px #575991, 2px 2px #575991;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 700;
    color: #575991;
  }

  &__inner {
    margin-bottom: 15px;
    padding: 0 15vw 50px 15vw;
    background-color: #FF524A;
  }

  &__triangle {
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -15px;

    border-top: 30px solid #FAFAFA;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 30px;
    height: 30px;
  }

  &__fecha {
    position: relative;
    left: 50%;
    top: 10px;
    margin-left: -30px;

    color: #FFDD6F;
    font-style: italic;
    font-size: 0.8em;
  }

  &__img {
    margin: 15px 0;
    width: 100%;
    height: auto;

    &--small {
      margin-left: 25%;
      width: 50%;
      height: auto;
    }
  }

  &__link {
    color: #575991;

    &:hover {
      color: #FFDD6F;
    }
  }

  &__text--thanks {
    font-size: 0.9em;
    padding-left: 10px;
    font-style: italic;
  }
}

// BREAKPOINTS
@media only screen and (min-width: 576px) {
  .blog {
    padding: 70px 20vw 0px 20vw;

    &__inner {
      padding: 0 10vw 50px 10vw;
      border-radius: 30px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .blog {
    padding: 70px 20vw 0px 20vw;

    h1 {
      font-size: 2.5em;
    }

    &__inner {
      padding: 0 7vw 50px 7vw;
    }
  }
}

@media only screen and (min-width: 992px) {
  .blog {
    padding: 70px 25vw 0px 25vw;

    h1 {
      font-size: 2.5em;
    }

    &__inner {
      padding: 0 7vw 50px 7vw;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .blog {
    padding: 70px 30vw 0px 30vw;

    h1 {
      font-size: 2.5em;
    }

    &__inner {
      padding: 0 7vw 50px 7vw;
    }
  }
}
