body {
  color: #001040;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Francois One', sans-serif;
}

.row {
  margin: 0;
}

.navbar--fundacion {
  border-bottom: none;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0 0 10px #737385;
          box-shadow: 0 0 10px #737385;
}

.navbar--fundacion .navbar__brand {
  height: 100%;
}

.navbar--fundacion .navbar__brandname {
  float: left;
  margin-top: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #001040;
}

.navbar--fundacion .navbar__brandname:hover {
  text-decoration: none;
}

.navbar--fundacion .navbar-toggle {
  border-color: #001040;
}

.navbar--fundacion .navbar-toggle .icon-bar {
  background-color: #001040;
}

.navbar--fundacion .navbar__link {
  font-family: 'Raleway', sans-serif;
  color: #001040;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.navbar--fundacion .navbar__link:hover, .navbar--fundacion .navbar__link--active {
  color: #FFF;
  background-color: #ff8080;
}

.navbar--fundacion .navbar__link--dropdown {
  padding: 2px 40px;
}

.navbar--fundacion .navbar__link--donate {
  color: #FFF;
  background-color: #ff4040;
}

.navbar--fundacion .navbar__dropdown {
  border: none;
  background-color: #FAFAFA;
}

@media only screen and (max-width: 767px) {
  .navbar__brandname--hidden {
    display: none;
  }
}

.footer {
  background-color: #001040;
  color: #384467;
}

.footer p, .footer label {
  line-height: 2;
  font-weight: 700;
  font-size: 0.9em;
}

.footer h1 {
  margin-bottom: 30px;
  color: #ff4040;
  font-size: 2.2em;
}

.footer__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15vw;
}

.footer__inner--left {
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer__inner--right {
  margin-bottom: 70px;
}

.footer__icon {
  font-size: 1.5em;
  margin-right: 10px;
  color: #CDE6FF;
}

.footer__link {
  color: #384467;
}

.footer__link:hover {
  text-decoration: none;
  color: #ff4040;
}

.footer__map {
  margin-top: 20px;
  border: none;
  width: 100%;
  height: 30vh;
}

.footer__formbox {
  border: none;
  background-color: #384467;
  color: #FFF;
}

.footer__formbox::-webkit-input-placeholder {
  color: #bbb;
}

.footer__formbox:-ms-input-placeholder {
  color: #bbb;
}

.footer__formbox::-ms-input-placeholder {
  color: #bbb;
}

.footer__formbox::placeholder {
  color: #bbb;
}

.footer__button {
  border: 1px solid #ff4040;
  background-color: #001040;
  color: #ff4040;
}

.footer__button:hover {
  background-color: #ff4040;
  color: #001040;
}

@media only screen and (min-width: 768px) {
  .footer__inner {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 25vw;
  }
}

@media only screen and (min-width: 992px) {
  .footer__inner {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__inner--left {
    margin-top: 50px;
    padding: 0 4vw 0 15vw;
  }
  .footer__inner--right {
    margin-top: 50px;
    padding: 0 15vw 0 0;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__inner {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__inner--left {
    padding: 0 4vw 0 20vw;
  }
  .footer__inner--right {
    padding: 0 20vw 0 0;
  }
}
