body {
  color: #000020;
  font-family: 'Open Sans', sans-serif;
}

.navbar--fundacion {
  background-color: #FAFAFA;
  -webkit-box-shadow: 0 0 10px #737385;
          box-shadow: 0 0 10px #737385;
}

.navbar--fundacion .navbar__brand {
  height: 100%;
  margin-left: 5vw;
}

.navbar--fundacion .navbar__brandname {
  float: left;
  margin-top: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #000073;
}

.navbar--fundacion .navbar__brandname:hover {
  text-decoration: none;
}

.navbar--fundacion .navbar-toggle {
  border-color: #000073;
}

.navbar--fundacion .navbar-toggle .icon-bar {
  background-color: #000073;
}

.navbar--fundacion .navbar__navigation {
  margin-right: 5vw;
}

.navbar--fundacion .navbar__link {
  font-family: 'Raleway', sans-serif;
  color: #000073;
}

.navbar--fundacion .navbar__link:hover, .navbar--fundacion .navbar__link--active {
  color: #FF6600;
  background-color: #F0F0F0;
}

@media only screen and (max-width: 767px) {
  .navbar__brandname--hidden {
    display: none;
  }
}

.header {
  margin-top: 50px;
  padding: 0;
  height: 60vh;
}

.header__slice {
  height: 100%;
}

.header__slice--first {
  background-image: url(../img/futbolitoppa2018.png);
  background-size: cover;
  background-position: center top;
}

.header__slice--second {
  background-image: url(../img/voluntarias_stgo.JPG);
  background-size: cover;
  background-position: center bottom;
}

.header__slice--third {
  background-image: url(../img/angeles.jpg);
  background-size: cover;
  background-position: right bottom;
}

.blog {
  padding: 70px 15vw;
}

.blog__header {
  border-bottom: 10px solid #FF6600;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #000073;
}

.blog .thumbnail {
  border: none;
}

.blog__inner {
  margin-right: 20px;
  height: 520px;
  -webkit-box-shadow: 0 0 10px #737385;
          box-shadow: 0 0 10px #737385;
  text-align: center;
}

.blog__inner .blog__img {
  width: 100%;
  height: auto;
}

.blog__inner .blog__webpaylogo {
  height: 65px;
}

.blog__inner .blog__info {
  padding: 20px;
}

.blog__inner h1 {
  font-size: 1.3em;
  font-weight: 600;
  color: #FF6600;
}

@media only screen and (max-width: 576px) {
  .blog__webpaylogo {
    width: 90%;
    height: auto;
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #092454;
  color: #F0F0F0;
}

.footer h1 {
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  color: #FF6600;
  font-size: 2.2em;
}

.footer__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}

.footer__icon {
  font-size: 1.7em;
  margin-right: 10px;
  color: #CDE6FF;
}

.footer__link {
  color: #F0F0F0;
}

.footer__link:hover {
  text-decoration: none;
  color: #FF6600;
}

.footer__map {
  margin-top: 20px;
  border: none;
  width: 100%;
  height: 30%;
}

.footer__button {
  border: none;
  background-color: #F0F0F0;
  color: #FF6600;
}

.footer__button:hover {
  background-color: #FF6600;
  color: #F0F0F0;
}
