.header {
  margin-top: 50px;
  padding: 0;
  height: 70vh;
}

.header__slice {
  height: 70vh;
}

.header__slice--first {
  background-image: url(../img/futbolitoppa2018.png);
  background-size: cover;
  background-position: center top;
}

.header__slice--second {
  background-image: url(../img/voluntarias_stgo.JPG);
  background-size: cover;
  background-position: center bottom;
}

.header__slice--third {
  background-image: url(../img/angeles.jpg);
  background-size: cover;
  background-position: right bottom;
}

.news {
  padding: 70px 10vw;
}

.news__header {
  margin-bottom: 50px;
  padding: 10px 30px;
  background-color: #ff4040;
  font-size: 3em;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
}

.news__inner {
  padding: 0 30px;
  height: 300px;
  background-size: cover;
  text-align: center;
}

.news__inner p {
  display: none;
}

.news__inner h2 {
  margin-top: 150px;
  font-size: 1.3em;
  font-weight: 600;
  color: #FFDD6F;
}

.news__inner:hover p {
  display: inherit;
  margin-top: 130px;
}

.news__inner:hover h2 {
  display: none;
}

.news__inner--first {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/renovacion.gif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/renovacion.gif);
}

.news__inner--second {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/coronas.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/coronas.jpg);
}

.news__inner--third {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/manual_padres.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/manual_padres.jpg);
}

.news__inner--fourth {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/donacion.gif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/donacion.gif);
}

.news__inner--fifth {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/nino_ski.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/nino_ski.jpg);
  background-position: center top;
}

.news__inner--sixth {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/vaso_elementos.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/vaso_elementos.jpg);
}

.news__link {
  color: #EAEDFF;
}

.news__link:hover {
  color: #EAEDFF;
}

@media only screen and (min-width: 768px) {
  .news {
    padding: 70px 10vw;
  }
  .news__inner {
    height: 250px;
  }
  .news__inner h2 {
    margin-top: 100px;
  }
  .news__inner:hover p {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .news {
    padding: 70px 15vw;
  }
  .news__inner {
    height: 200px;
  }
  .news__inner h2 {
    margin-top: 90px;
  }
  .news__inner:hover p {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .news {
    padding: 70px 15vw;
  }
  .news__inner {
    height: 300px;
  }
  .news__inner h2 {
    margin-top: 140px;
  }
  .news__inner:hover p {
    margin-top: 120px;
  }
}
