.header {
  margin-top: 50px;
  padding: 0;
  height: 70vh;
}

.header__slice {
  height: 100%;
}

.header__slice--first {
  background-image: url(../img/futbolitoppa2018.png);
  background-size: cover;
  background-position: center top;
}

.header__slice--second {
  background-image: url(../img/voluntarias_stgo.JPG);
  background-size: cover;
  background-position: center bottom;
}

.header__slice--third {
  background-image: url(../img/angeles.jpg);
  background-size: cover;
  background-position: right bottom;
}

.blog {
  padding: 70px 15vw;
  background-image: url(../img/trama_l.gif);
}

.blog__header {
  margin-bottom: 50px;
  border-bottom: 10px solid #FF6600;
  padding-bottom: 10px;
  text-align: center;
  color: #000073;
}

.blog .thumbnail {
  border: none;
}

.blog__inner {
  margin-right: 20px;
  height: 480px;
  -webkit-box-shadow: 0 0 10px #737385;
          box-shadow: 0 0 10px #737385;
  text-align: center;
}

.blog__inner .blog__img {
  width: 100%;
  height: auto;
}

.blog__inner .blog__img--webpaylogo {
  height: 60px;
}

.blog__inner .blog__info {
  padding: 20px;
}

.blog__inner h2 {
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight: 600;
  color: #FF6600;
}

.blog__link--news {
  color: #FF6600;
}

.blog__link--news:hover {
  color: #FF6600;
}

@media (min-width: 576px) and (max-width: 768px) {
  .blog__inner {
    height: auto;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2em;
  }
  .blog__inner {
    height: auto;
  }
  .blog__inner .blog__img--webpaylogo {
    width: 90%;
    height: auto;
  }
}
