.container--nosotros {
  margin: 0px 25vw;
}

.header {
  margin-top: 50px;
  background-color: #FF524A;
  color: #EAEDFF;
}

.header h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5em;
  color: #FFDD6F;
  text-shadow: 2px 2px #575991, 3px 3px #575991;
}

.header__inner {
  height: auto;
  padding: 30px 20vw;
}

.header__inner--background {
  height: 35vh;
  background: url(../img/reunion.jpg);
  background-size: cover;
  background-position: center center;
}

.body__logo {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.organization {
  padding-bottom: 70px;
}

.organization h1 {
  color: #000073;
  text-align: center;
}

.organization h2 {
  font-size: 1.7em;
  color: #FF6600;
}

.organization__inner {
  margin: 20px;
  padding: 20px;
  background-color: #FFF;
  -webkit-box-shadow: 5px 5px #CDE6FF;
          box-shadow: 5px 5px #CDE6FF;
}

.organization__table {
  margin-top: 20px;
  font-size: 0.85em;
}

@media only screen and (min-width: 768px) {
  .header h1 {
    font-size: 3.5em;
  }
  .header__inner {
    height: 60vh;
    padding: 70px 10vw 0px 3vw;
  }
  .header__inner--background {
    height: 60vh;
  }
}

@media only screen and (min-width: 992px) {
  .header__inner {
    padding: 70px 15vw 0px 8vw;
  }
}

@media only screen and (max-width: 991px) {
  .container--nosotros {
    margin: 0px 15vw;
  }
}

@media only screen and (max-width: 768px) {
  .container--nosotros {
    margin: 0px 10vw;
  }
}

@media only screen and (max-width: 576px) {
  .container--nosotros {
    margin: 0 0;
  }
}
