.header {
  margin-top: 50px;
  background-color: #001040;
  color: white;
}

.header h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  color: #ffdf80;
}

.header__inner {
  height: auto;
  padding: 30px 20vw;
}

.header__inner--background {
  height: 35vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/reunion.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/reunion.jpg);
  background-size: cover;
  background-position: center center;
}

.body__logo {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  background-color: white;
}

.organization {
  padding: 0 10vw 70px 10vw;
}

.organization h1 {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  color: #002080;
}

.organization h2 {
  font-size: 1.7em;
  color: #002080;
}

.organization ul {
  list-style: none;
}

.organization__inner {
  border: 1px solid #ffdf80;
  border-bottom-width: 10px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}

.organization__table {
  margin-top: 20px;
  font-size: 0.75em;
}

.organization__link {
  color: inherit;
}

.organization__link:hover {
  color: #002080;
}

@media only screen and (min-width: 768px) {
  .header h1 {
    font-size: 3.5em;
  }
  .header__inner {
    height: 450px;
  }
  .header__inner--text {
    margin: 40px 0;
    padding: 0 40px;
    max-width: 550px;
    height: auto;
  }
  .organization {
    padding: 0 15vw 70px 15vw;
  }
  .organization h1 {
    font-size: 3em;
  }
  .organization h2 {
    font-size: 2em;
  }
  .organization__inner {
    padding: 30px;
  }
  .organization__table {
    font-size: 0.85em;
  }
}

@media only screen and (min-width: 992px) {
  .header__inner--text {
    padding: 0;
    margin: 70px 0;
    margin-left: 2vw;
  }
  .organization {
    padding: 0 20vw 70px 20vw;
  }
  .organization__inner {
    padding: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__inner--text {
    margin: 70px 0;
    margin-left: 3vw;
  }
  .organization {
    padding: 0 26vw 70px 26vw;
  }
  .organization__inner {
    padding: 50px;
  }
}
