.container--blog {
  margin-left: 25vw;
  margin-right: 25vw;
}

.blog {
  padding: 50px 0;
}

.blog__header {
  margin-top: 80px;
  margin-bottom: 30px;
  border-bottom: 10px solid #FF6600;
  text-align: center;
  color: #000073;
}

.blog__inner {
  padding: 0 20px 30px 20px;
  border-top: 5px solid #CDE6FF;
  background-color: #FFF;
}

.blog__inner h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #FF6600;
}

.blog__inner h2 {
  font-size: 1.2em;
  font-weight: 600;
  color: #000073;
}

.blog__triangle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -15px;
  border-top: 30px solid #CDE6FF;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 30px;
  height: 30px;
}

.blog__fecha {
  position: relative;
  left: 50%;
  margin-left: -30px;
  color: #000073;
  font-style: italic;
  font-size: 0.8em;
}

.blog__img {
  margin: 15px 0;
  width: 100%;
  height: auto;
}

.blog__img--small {
  margin-left: 25%;
  width: 50%;
  height: auto;
}

.blog__text--thanks {
  padding-left: 15px;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .container--blog {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 576px) {
  .container--nosotros {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
